@model HomeCorner.ViewModels.FeaturesDetailsViewModel


@{
    ViewBag.Title = "Details";
}


<h2>Details</h2>

<div>
    <h4>House</h4>
    <hr />
    <dl class="dl-horizontal">

        @Html.Partial("_HousesDataTable", Model.House)

        @foreach (var features in Model.Features)
        {
            <dt>
                @features.Feature;
            </dt>
        }
        </dl>
    </div>
        
